[Unit]
Description=Martapi
After=local-fs.target systemd-user-sessions.service
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/admin/marta-pi-2
ExecStart=/usr/bin/python3 /home/admin/marta-pi-2/main.py
Environment=SLIDESHOW_DIR=/home/admin/marta-pi-2/images
Environment=FB_DEVICE=/dev/fb1
Environment=SLIDE_SECONDS=10
Environment=AUDIO_DEVICE=plughw:Headphones
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
